body{
    font-family: garamond;
    background-color:#CCC8AA;
}
.nome{
    font-size: xx-large;
    margin: 0% 0% 5% 18%;
}

.headernome{
    margin: 5% 10% 5% 33%;
}

section{
    margin: 0% 15% 5% 15%;
    background-color: #808080;
    border: solid;
    border-color: white;
    color:white;
    margin: 0% 0.1% 2% 0.1%;
}

.listmenu{
    list-style: none;
    display: inline;
    padding: 0.5%;
    border: solid;
    border-color: white;
}

.linkmenu{
    text-decoration: none;
    color:black;
}

.listmenu:hover{
    border:none;
}
